doctype html
html(lang="en")
  head
    link( href='http://fonts.googleapis.com/css?family=Open+Sans:300',
          rel='stylesheet',
          type='text/css' )

    link( rel="stylesheet",
          type="text/css",
          href="/static/css/normalize.css",
          media="screen" )

    link( rel="stylesheet",
          type="text/css",
          href="/static/css/main.css",
          media="screen" )

    link( rel="stylesheet",
          type="text/css",
          href="/static/css/font-awesome.min.css",
          media="screen" )

    meta( charset="utf-8" )
  body
    div.app
      div.about
        h1.about__headline Photojournalist, Webdeveloper &<br/> Thinker.

        address.about_address
          p
            span Gustav Pursche
            span Kleine Neugasse 16 / 10
            span 1040 Wien

          p.about__email
            span gustavpursche@gmail.com

          p.about__social-media
            span
              i.fa.fa-skype(title='skype')
              span gustav.pursche
            span
              i.fa.fa-twitter(title='twitter')
              a(href="https://twitter.com/gustavpursche") @gustavpursche
            span
              i.fa.fa-github(title='github')
              a(href="https://github.com/gustavpursche") gustavpursche

          p.about__website
            span
              i.fa.fa-camera-retro
              a(href="http://visual-rebellion.com") visual.rebellion