doctype html
html(lang="en")
  head
    if enviroment == 'production'
      link( rel="stylesheet",
            type="text/css",
            href="/static/dist/all.min.css",
            media="screen" )

    if enviroment == 'development'
      link( rel="stylesheet",
            type="text/css",
            href="/static/css/main.css",
            media="screen" )

    meta( charset="utf-8" )
    meta( name="viewport",
          content="width=device-width, initial-scale=1" )

    title Gustav Pursche
  body
    div.app
      div.about
        h1.about__headline Photojournalist, Webdeveloper &<br/> Thinker.

        address.about_address
          p.about__email
            span.
              <a href='mailto:gustavpursche@gmail.com'>gustavpursche@gmail.com</a>
          p.about__pgp
            span.about__fingerprint Fingerprint
            span.about__fingerprint 38FF 8C48 4519 CB62 00D6  B230 9D8B AF7E FCE9 03FF

          p.about__social-media.
            Follow me on
            <a href="https://twitter.com/gustavpursche">twitter</a>,
            <a href="https://github.com/gustavpursche")>github</a> &
            <a href="http://visual-rebellion.com">visual.rebellion</a>.