doctype html
html(lang="en")
  head
    link( rel="stylesheet",
          type="text/css",
          href="/static/css/normalize.css",
          media="screen" )

    link( rel="stylesheet",
          type="text/css",
          href="/static/css/main.css",
          media="screen" )

    meta( charset="utf-8" )
  body
    address.about
      p.about_address
        span Gustav Pursche
        span Kleine Neugasse 16 / 10
        span 1040 Wien

      p.about__email
        span gustavpursche@gmail.com

      p.about__social-media
        span skype: gustav.pursche
        span twitter: gustav.pursche