doctype html
html(lang="en")
  head
    if enviroment == 'production'
      link( rel="stylesheet",
            type="text/css",
            href="/static/dist/all.min.css",
            media="screen" )

    if enviroment == 'development'
      link( rel="stylesheet",
            type="text/css",
            href="/static/css/main.css",
            media="screen" )

    meta( charset="utf-8" )
    meta( name="viewport",
          content="width=device-width, initial-scale=1" )

    title Gustav Pursche
  body
    div.app
      div.about
        h1.about__headline Photojournalist, Webdeveloper &<br/> Thinker.

        address.about_address
          p.about__address
            span Gustav Pursche
            span Kleine Neugasse 16 / 10
            span 1040 Vienna, Austria

          p.about__email
            span.
              <a href='mailto:gustavpursche@gmail.com'>gustavpursche@gmail.com</a>

          p.about__social-media.
            Follow me on
            <a href="https://twitter.com/gustavpursche">twitter</a>,
            <a href="https://github.com/gustavpursche")>github</a> &
            <a href="http://visual-rebellion.com">visual.rebellion</a>.

        p.about__pgp.
          PGP Fingerprint<br/>
          7F97 B11A 9EFD 9955 D4D5 C61E 185B C356 297E D022<br/><br/>

          PGP ID<br/>
          297ED022

        p.about__pgp.
          You can connect to this <a href='https://gustavpursche.net'>website via https</a>, but<br/>
          you have to accept the self-signed certificate.